@keyframes down{
  from {
    transform: translateY(0px);
  }
  to{
    transform: translateY(200px);
  }
}

.heading{
  font-size: 6rem;
  text-align: center;
  font-weight: 100;
  color: rgba(175, 47, 47, 0.15);
  padding-top: 20px;
  animation-name: down;
}
