.new-task{
    padding: 10px;
    border-bottom: 1px solid rgb(0,0,0,10%);
}

.down{
    height: 30px;
    width: 40px;
}
.down-btn{
    border: none;
    margin: 5px;
}
form{
    display: inline-block;
}
.submit-btn{
    display: none;
}
.task-input{
    border: none;
    margin: 10px;
    padding: 5px;
    height: 50px;
    width: 100%;
    font-size:1.6rem;
    font-weight: 100;
    color: black;
    opacity: 20%;
    font-style:italic;  

}
.task-input:focus, textarea:focus, select:focus{
    outline: none;
    color:black;
}