.options{
    height: 40px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgb(0 0 0 / 20%), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgb(0 0 0 / 20%);
}
.links{
    position: relative;
    top:40%;
    font-size: 0.8rem;
    color: gray;
}

.link:hover{
    border: 0.5px red solid;
}


.link{
    margin-left: 10px;
    padding: 5px;
    text-decoration: none;
    color: gray;
}
.all{
    margin-left: 170px;
}
.noi{
    margin-left: 10px;
}