.task-container{
    height: 90px;
    border-bottom: 1px solid rgb(0,0,0,10%);
    position: relative;
    font-weight: 10;
}

/* .checkbox-btn{
    position: absolute;
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 100%;
    top:40px;
    left: 20px;
    background-color: white;
    border: 0.5px black;
} */

.task{
    display: inline-block;
    position: absolute;
    top:45px;
    left: 80px;
    font-size: 1.5rem;
}

.cross-btn{
  border: none;
  background-color: white;
  position: absolute;
  right :20px;
  top:40px;
  opacity: 20%;
  font-size: 1rem;
}


.task-container .cross-btn{
  display: none;
}
.task-container:hover .cross-btn{
  display: inline;
}

.round {
  position: relative;
  
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  left: 15px;
  position: absolute;
  top: 35px;
  width: 40px;
}
 
.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 12px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 18px;
} 


.round input[type="checkbox"] {
  visibility: hidden;
  background-color: black;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}
 
 .round input[type="checkbox"]:checked + label:after {
  opacity: 1;
} 


@keyframes fade{
  /* 0%{
    opacity: 1;
  }
  25%{
    opacity: 0.8;
  }
  50%{
    opacity: 0.6;
  }
  75%{
    opacity: 0.5;
  }
  100%{
    opacity: 0.2;
  } */
  from{
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

.checked{
text-decoration: line-through;
color:gray;
animation-name: fade;
animation-duration: 2s;
opacity: 0.5;
font-style: italic;
}

/* style={checked==="checked"?{
  textDecoration:'line-through',
  color:"gray",
  fontWeight:100
  }:{}} */











