.todo-container{
   background-color: white;
   -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
    
   width: 40%;
   margin: 0 auto;   
   border: 0px rgb(173, 171, 171) solid;
}